.body
{
    background-color: #5b4942;
    overflow: hidden;
}

.navbar 
{
    background-color: #333;
    padding: 15px;
    text-align: center;
}
.navbar a
{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}
.navbar a:hover 
{
    color: red;
}

.welcome
{
    text-align: center;
    font-family: 'montserrat', sans-serif;
    color: white;
    margin: 50px 0;
}
.container
{
    background-color: wheat;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}
input[type="text"],
input[type="password"] 
{
width: 90%;
padding: 8px;
margin: 10px 0;
}

button[type="submit"]
{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 95%;
    cursor: pointer;
}

button[type="submit"]:hover 
{
    background-color: #45a049;
}