.navbar
{
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 20px;
    background-color: #4286f5;
}
.navbar a
{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}
.navbar a:hover
{
    color: #ddd;
}

.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.welcome
{
    text-align: center;
    margin-bottom: 20px;
}
.h1
{
    font-size: 36px;
    color: #333;
}
.p
{
    font-size: 18px;
    color: #666;
}
.features
{
    display: flex;
    gap: 20px;
}
.feature
{
    background-color: red;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}
.feature h2
{
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.feature p
{
    font-size: 16px;
    color: #666;
}
