body
{
    background-color: #5b4942;
}
.login
{
    text-align: center;
    color: black;
}
.form
{
    background-color: blueviolet;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 
.container
{
    background-color: gray;    
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} */